mainmenu "Maxio NVMe Tool Configuration"

menu "Driver Configuration"

source "modules/dnvme/Kconfig"

endmenu

menu "Library Configuration"

source "lib/Kconfig"

endmenu

menu "Application Configuration"

source "app/Kconfig"

endmenu

