mainmenu "Maxio NVMe Tool Configuration"

menu "Driver Configuration"

source "modules/dnvme/Kconfig"
source "modules/udmabuf/Kconfig"

endmenu

menu "Application Configuration"

source "app/Kconfig"

endmenu

