menuconfig APPLICATION
	bool "NVMe Application"
	default y
	help
	  Say Y here to compile nvme application.

if APPLICATION

config APP_UNIT_TEST
	bool "NVMe Unit Test"
	default y
	help
	  Say Y here to compile nvme unit test program.

endif # APPLICATION

